.mainHeader{
    height: 7%;
    width: 100%;
    display: flex;
    border: 2px solid red;
    align-items: center;
    padding: 0 20px;
}

.leftHeader{
    height: 100%;
    width: 40%;
    border: 2px solid green;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-around;
}

.rightHeader{
    height: 100%;
    width: 60%;
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;    
}